$primaryColor: #f36522;
.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product-content {
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
  background-color: #fff;
  cursor: pointer;
}

.card-item-img-brand {
  position: relative;
  padding: 6px;
  height: auto;
}

.voucher-image-brand {
  width: 100%;
  height: 200px;
}

.image-products {
  transition: 0.4s;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.content-item {
  width: 100%;
  margin-bottom: 0px;
}

.name-item-voucher {
  font-size: 16px;
  line-height: 20px;
  height: 55px;
  font-weight: 700;
  color: #000000;
  border-bottom: 0.5px solid var(--color-green-400);
  // show 2 line
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 8px 16px;
}

.price-item-discount {
  padding: 8px 16px;
}

.container-price-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-amount-item {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.container-item {
  display: flex;
  align-items: center;
}

.sale-price-green-bean {
  color: #2ecc71;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 20px; // Giảm kích thước đậu
    height: 20px;
  }
}

.sub-title {
  font-size: 14px;
}

.finish-day {
  text-align: right;
}

.styled-day-finish {
  color: #2ecc71;
  font-size: 16px;
  font-weight: 600;
}

.price-voucher {
  text-align: left;
}

.discount-item {
  font-size: 13px;
  font-weight: 700;
  border-radius: 6.5px;
  height: 18px;
  background: #fed134;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50px;
  padding: 2px;
}

.itemOldPrice {
  font-size: 15px;
  text-decoration: line-through;
  filter: opacity(0.35);
  margin: 0;
}

.content-item .bottom-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-item .bottom-item .addItemToCart {
  background-color: $primaryColor;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.content-item .bottom-item .addItemToCart .MuiSvgIcon-root {
  font-size: 17px;
  color: #faf9fb;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #2ecc71;
}
