.container-table {
    display: block;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.tbl-msc tbody {
    height: 300px;
}

.btn-next-prev {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.msc-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 100px;
}

.card-noti {
    margin-bottom: 20px;

    label {
        font-size: 16px;
        font-weight: 600;
        color: red;
    }

    span {
        font-size: 16px;
    }
}

.note-strong {
    color: red;
}

.notification-create {
    display: flex;
    flex-direction: column;
}

.link-noti {
    color: var(--color-green-600);
    font-weight: 600;
  
    &:hover {
        color: var(--color-green-700);
    }
}