.title-item-name {
    width: 25rem;
    white-space: break-spaces;
    word-wrap: break-word;
    text-align: left;
}

.title-item-date-name {
    width: 320px;
    white-space: break-spaces;
    word-wrap: break-word;
    text-align: left;
}

.p-item-date-table {
    font-weight: 600 !important;
    width: 320px;
    white-space: break-spaces;
    word-wrap: break-word;
}

.p-item-table {
    font-weight: 600 !important;
    width: 270px;
    white-space: break-spaces;
    word-wrap: break-word;
}

.title-item-student-name {
    width: 110px;
    white-space: break-spaces;
    word-wrap: break-word;
    text-align: center;
}

.span-valid {
    font-weight: 600;
}